<div class="countries-head">
  <h1>Visited Destinations in <%= @city.name  %></h1>
  <a class="add-btn"href="/add_country_to_bucket_list">+</a>
</div>
<div class="countries-container">
  <% @destinations.each do |destination| %>
  <div class="country-container">
    <h3><%= destination['name'] %></h3>
    <p><%= destination['description'] %></p>
    <form action="/home/<%= destination['id'] %>/delete_destination" method="POST"><input type="submit" value="Delete"></form>
    <form action="/home/<%= destination['id'] %>/edit_destination"><input type="submit" value="edit"></form>
  </div>
  <% end %>
</div>
