<div class="countries-head">
  <h1>Visited Countries</h1>
  <a class="add-btn"href="/home/new_country">+</a>
</div>
<div class="countries-container">
  <% @country.each do |country| %>
  <div class="country-container">
    <h3><a class="country-title" href="/visited_cities/<%= country.id %>"><%= country.name.capitalize %></a></h3>
    <p><%= country.description %></p>
    <form action="/home/<%= country.id %>/delete_country" method="POST"><input type="submit" value="Delete"></form>
    <form action="/home/<%= country.id %>/edit_country"><input type="submit" value="edit"></form>
  </div>
  <% end %>
</div>
