<div class="countries-head">
  <h1>Visited Countries</h1>
  <a class="add-btn"href="/add_country_to_bucket_list">+</a>
</div>
<div class="countries-container">
  <% @country.each do |country| %>
  <div class="country-container">
    <h3><a class="country-title" href="/visited_cities/<%= country.id %>"><%= country.name.capitalize %></a></h3>
    <p><%= country.description %></p>
    <form action="/bucket_list_countries/<%= country.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
    <form action="/countries_visited/<%= country.id %>/edit_country_bl"><input type="submit" value="edit"></form>
  </div>
  <% end %>
</div>
