<div class="bl-fs-container">
    <a class="add-btn"href="/home/new_city"><p class="add-btn-txt">+</p></a>
<div class="countries-head">
  <!-- <a href="/home/cities_by_country">cities_by_country</a> -->
  <h1 class="page-title">All Cities</h1>
</div>
<div class="countries-container">
  <% @city.each do |city| %>
  <div class="country-container">
    <h3><a class="country-title"><%= city.name.capitalize %></a></h3>
    <p><%= city.description %></p>
    <p><%=  %></p>
    <div class="country-btn-container">
      <form action="/home/<%= city.id %>/delete_city" method="POST"><input class="function-btn" type="submit" value="Delete"></form>
      <form action="/home/<%= city.id %>/edit_city"><input class="function-btn" type="submit" value="edit"></form>
    </div>
  </div>
  <% end %>
</div>
</div>
