<div class="bl-fs-container">
<a class="add-btn"href="/home/new_city"><p class="add-btn-txt">+</p></a>
<a class="previous-page" href="/home/visited_countries">Back to Visited Countries</a>
<div class="countries-head">
<h1 class="page-title" >Cities Visited in <%= @country.name %></h1>
</div>
<div class="countries-container">
  <% @cities.each do |city| %>
  <div class = "country-container">
    <h3><a class="country-title" href="/visited_destinations/<%= city['id'] %>"><%= city['name'] %></a></h3>
    <p><%= city['description'] %></p>
    <div class="country-btn-container">
      <form action="/home/<%= city['id'] %>/delete_city" method="POST"><input class="function-btn" type="submit" value="Delete"></form>
      <form action="/home/<%= city['id'] %>/edit_city"><input class="function-btn" type="submit" value="edit"></form>
    </div>
  </div>
  <% end %>
</div>
</div>
